.pagination-container {
    margin-top: 20px;
    max-width: 647px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    //justify-content: space-between;
  }
  
  .pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 10%;
    //font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    //background-color: #c7c7c7;
    color: #333333;
  }
  
  .pagination-item:hover {
    display: flex;
    /* justify-content: center;
    align-items: center;
    border-radius: 50%; */
    //font-weight: 700;
    line-height: 22px;
    background-color: #c8c8c8;
  }
  
  .pagination-item.active {
    background: red;
  }
  
  .arrow-inverse {
    transform: rotate(-180deg);
  }
  
  .arrow-active {
    //width: 10px;
    //height: 20px;
    background-color: #c7c7c7;
  }
  
  .arrow-inactive {
    //width: 10px;
    //height: 20px;
    color: red;
    //display: none;
  }
  